{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="mt-8 justify-between text-white hero-course px-12 grid md:grid-cols-2 bg-gray-100">
    <div class="bg-[#3c3c3b] border p-9">
        <h1 class="text-2xl font-semibold">{{course.title}}</h1>
        <br>
        <h3 class="text-xl font-medium">From {{course.price}} per attendee</h3>
        <ul class="mt-4">
            <li class="p-3">Email course</li>
            <li class="p-3">Course PDF</li>
            <li class="p-3">Share Course</li>
        </ul>
    </div>
    <div class="bg-white text-gray-800 border p-9">
        <h1 class="text-xl font-bold">Available Courses</h1>
    </div>
</div>

<div class="px-9 mt-8">
    <h1 class="text-2xl font-bold">Course Information</h1>
    <div class="border-b border-gray-200 dark:border-gray-700 mb-4">
        <ul class="flex flex-wrap -mb-px" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
            <li class="mr-2" role="presentation">
                <button
                    class="inline-block text-gray-500 hover:text-gray-600 hover:border-gray-300 rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2 dark:text-gray-400 dark:hover:text-gray-300"
                    id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile"
                    aria-selected="false">Course Content</button>
            </li>
            <li class="mr-2" role="presentation">
                <button
                    class="inline-block text-gray-500 hover:text-gray-600 hover:border-gray-300 rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2 dark:text-gray-400 dark:hover:text-gray-300 active"
                    id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard"
                    aria-selected="true">Course Description</button>
            </li>
            <li class="mr-2" role="presentation">
                <button
                    class="inline-block text-gray-500 hover:text-gray-600 hover:border-gray-300 rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2 dark:text-gray-400 dark:hover:text-gray-300"
                    id="settings-tab" data-tabs-target="#settings" type="button" role="tab" aria-controls="settings"
                    aria-selected="false">Course Objectives</button>
            </li>
            <li role="presentation">
                <button
                    class="inline-block text-gray-500 hover:text-gray-600 hover:border-gray-300 rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2 dark:text-gray-400 dark:hover:text-gray-300"
                    id="contacts-tab" data-tabs-target="#contacts" type="button" role="tab" aria-controls="contacts"
                    aria-selected="false">Who Should Attend</button>
            </li>
            <li role="presentation">
                <button
                    class="inline-block text-gray-500 hover:text-gray-600 hover:border-gray-300 rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2 dark:text-gray-400 dark:hover:text-gray-300"
                    id="contacts2-tab" data-tabs-target="#contacts2" type="button" role="tab" aria-controls="contacts2"
                    aria-selected="false">CPD Unit</button>
            </li>
        </ul>
    </div>
    <div id="myTabContent bg-gray-50">
        <div class="bg-gray-50 p-4 rounded-lg hidden course-tabs" id="profile" role="tabpanel"
            aria-labelledby="profile-tab">
            <p class="text-sm">
                {{course.content|linebreaks}}
            </p>
        </div>
        <div class="bg-gray-50 p-4 rounded-lg" id="dashboard" role="tabpanel"
            aria-labelledby="dashboard-tab">
            <p class="text-gray-500 text-sm">
            {{course.description|linebreaks}}
            </p>
        </div>
        <div class="bg-gray-50 p-4 rounded-lg hidden" id="settings" role="tabpanel"
            aria-labelledby="settings-tab">
            <p class="text-sm">
            {{course.objectives|linebreaks}}
            </p>
        </div>
        <div class="bg-gray-50 p-4 rounded-lg hidden" id="contacts" role="tabpanel"
            aria-labelledby="contacts-tab">
            <p class="text-sm">
                {{course.whoshouldattend|linebreaks}}
            </p>
        </div>
        <div class="bg-gray-50 p-4 rounded-lg hidden" id="contacts2" role="tabpanel"
            aria-labelledby="contacts2-tab">
            <p class="text-sm">
                {{course.cpdunit|linebreaks}}
                <video controls>
                    <source src="{{course.video.url}}" type="video/mp4">
                </video> 
            </p>
        </div>
    </div>

</div>

<br>
<br>
<br>
<br>
<br>

{% endblock %}