{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="bg-[#f1f1f1] text-[#444444]">
        <div class="sidenav bg-white w-10/12 ml-auto mr-auto mt-10 mb-10 p-9">
            <h1 class="font-semibold text-lg pt-2 pb-3">My Account</h1>
            <div class="grid grid-cols-3">
                <div class="col-span-1">
                    <ul class="text-[#444444]">
                        <li class="flex">
                            <div class="mr-1 text-[#005797] ">
                                <i data-feather="chevron-right"></i>
                            </div>Dashboard
                        </li>
                        <li class="flex">
                            <div class="mr-1 text-[#005797]">
                                <i data-feather="chevron-right"></i>
                            </div>Orders
                        </li>
                        <li class="flex">
                            <div class="mr-1 text-[#005797]">
                                <i data-feather="chevron-right"></i>
                            </div>Account details
                        </li>
                        <li class="flex">
                            <div class="mr-1 text-[#005797]">
                                <i data-feather="chevron-right"></i>
                            </div>Dashboard
                        </li>
                        <li class="flex">
                            <div class="mr-1 text-[#005797]">
                                <i data-feather="chevron-right"></i>
                            </div>Log out
                        </li>

                    </ul> 
                </div>
                <div class="col-span-2">
                    <p>
                        Hello armanakbari456 (not armanakbari456? Log out)
                        From your account dashboard you can view your recent orders, manage your shipping and billing addresses, and edit your password and account details.
                    </p>
                </div>
            </div>
            
        </div>
    </div>

{% endblock %}