{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="bg-gray-200 p-3">
    <div class="p-10 w-3/4 justify-center m-auto bg-white mt-4 mb-5">

        <div class="grid grid-cols-1 md:grid-cols-2 gap-40">
            <div>
                <h1 class="mb-8 font-extrabold text-sm">Login</h1>
                <form method="post" action="{% url 'accounts:login' %}">
                    {% csrf_token %}
                    <div>
                        <label class="block font-semibold" for="name">Username</label>
                        <input name="username"
                            class="w-full shadow-inner bg-gray-100 rounded-sm placeholder-black text-xl p-1 border-none block mt-1"
                            id="name" type="text" name="name" required="required" autofocus="autofocus">
                    </div>

                    <div class="mt-4">
                        <label class="block font-semibold" for="password">Password</label>
                        <input name="password"
                            class="w-full shadow-inner bg-gray-100 rounded-sm placeholder-black text-xl p-1 border-none block mt-1"
                            id="password" type="password" name="password" required="required"
                            autocomplete="new-password">
                    </div>

                    <div class="items-center justify-between mt-8">
                        <h1 class="p-4 text-gray-500">Forot your password?</h1>
                        <button type="submit"
                            class="w-full flex items-center justify-center p-1 border border-transparent text-base font-medium rounded-md text-white bg-[#005797] hover:bg-[#000831] md:py-1 md:text-sm md:px-1">Log
                            In</button>
                    </div>
                </form>
            </div>

            <div>
                <h1 class="mb-8 font-extrabold text-sm">Register</h1>
                <form method="post" action="{% url 'accounts:signup' %}">
                    {% csrf_token %}
                    <div>
                        <label class="block font-semibold" for="name">Username</label>
                        <input
                            class="w-full shadow-inner bg-gray-100 rounded-sm placeholder-black text-xl p-1 border-none block mt-1"
                             type="text" name="username" required="required" autofocus="autofocus">
                    </div>

                    <div class="mt-4">
                        <label class="block font-semibold" for="password">Password</label>
                        <input
                            class="w-full shadow-inner bg-gray-100 rounded-sm placeholder-black text-xl p-1 border-none block mt-1"
                            type="password" name="password1" required="required"
                            autocomplete="new-password">
                    </div>

                    <div class="mt-4">
                        <label class="block font-semibold" for="password">Confirm Password</label>
                        <input
                            class="w-full shadow-inner bg-gray-100 rounded-sm placeholder-black text-xl p-1 border-none block mt-1"
                            type="password" name="password2" required="required"
                            autocomplete="new-password">
                    </div>

                    <div class="flex items-center justify-between mt-8">
                        <button type="submit"
                            class="w-full flex items-center justify-center p-1 border border-transparent text-base font-medium rounded-md text-white bg-[#005797] hover:bg-[#000831] md:p-1 md:text-sm ">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}