{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="grid md:grid-cols-4 text-white hero-courses  md:pr-0  bg-[#444444] ">
    <div class="text-center lg:text-left mt-16 md:col-span-3 px-24">
        <h1 class="font-semibold text-white text-3xl md:text-6xl leading-normal mb-6">{{category.name}}</h1>
        <p class="font-light text-md md:text-lg leading-normal mb-12">
            {{category.content|safe}}
        </p>
        <button class="mb-12 px-6 py-4 bg-[#005797] font-semibold text-white text-lg rounded-xl hover:bg-[#005797] transition ease-in-out duration-500">
            Enrolment
        </button>
    </div>
    <div class="md:col-span-1 top-0 right-0 h-full ml-auto">
        <img class="h-full w-auto right-0 ml-auto" src="{% static 'images/engineering.jpg' %}" alt="engineering">
        
    </div>
    
</div>


<section class="bg-[#f1f1f1]">
    <div class="grid md:grid-cols-3 px-11 py-10 gap-10 text-[#f1f1f1]">
        {% for course in courses %}
        <a href="{% url 'course:course-single' category_id=category_pid course_id=course.id %}" class="col-span-1 bg-white p-10 relative hover:bg-[#005797] hover:text-white">
            <h3 class="text-xl font-semibold">{{course.title}}</h3>
            <p class="text-xs mt-3"></p>
            <br />
            <h4 class="absolute bottom-0 left-0 text-gray-400 ml-5 mb-5 mt-6">21 courses available</h4>
            <div class="absolute bottom-0 right-0 w-12 py-4 flex justify-center bg-[#005797] text-white">
                <i data-feather="chevron-right"></i>
            </div>
            <div class="overlay absolute top-0 bottom-0 left-0 right-0"></div>
        </a>
        {% endfor %}

    </div>
</section>


{% endblock %}