{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="text-white hero-courses px-24 pt-4 bg-[#444444]">
    <div class="text-center lg:text-left mt-28">
        <h1 class="font-semibold text-white text-3xl md:text-6xl leading-normal mb-6">Course Directory</h1>
        <p class="font-light text-md md:text-lg leading-normal mb-12">
            As Oil and Gas Training Providers, we develop and deliver oil and gas training at our locations in London and Aberdeen, United Kingdom; Dubai, United Arab Emirates, Kuala Lumpur, Malaysia and Houston, Texas, United States. But we can also deliver training courses at our clients location based on request.
            All our training courses can be delivered at a basic, intermediate or advanced level, depending on the attending delegates or organisational requirements.
        </p>
        <button class="mb-12 px-6 py-4 bg-[#005797] font-semibold text-white text-lg rounded-xl hover:bg-[#005797] transition ease-in-out duration-500">
            View course directory
        </button>
    </div>
</div>


<section class="bg-[#f1f1f1]">
    <div class="grid md:grid-cols-3 px-11 py-10 gap-10 text-[#f1f1f1]">
        {% for course in courses %}
        <a href="#" class="col-span-1 bg-white p-10 relative hover:bg-[#005797] hover:text-white">
            <h3 class="text-xl font-semibold">{{course.title}}</h3>
            <p class="text-xs mt-3">{{course.}}</p>
            <br />
            <h4 class="absolute bottom-0 left-0 text-gray-400 ml-5 mb-5 mt-6">21 courses available</h4>
            <div class="absolute bottom-0 right-0 w-12 py-4 flex justify-center bg-[#005797] text-white">
                <i data-feather="chevron-right"></i>
            </div>
            <div class="overlay absolute top-0 bottom-0 left-0 right-0"></div>
        </a>
        {% endfor %}

    </div>
</section>


{% endblock %}