{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="bg-gray-200">
    <div class="flex px-10">   
        <h1 class="text-3xl font-bold m-2">Articles</h1>
        <div class="ml-auto mt-3">
            <form action="#" class="w-full">
                <input class="blog-search rounded-md" type="text" placeholder=" Search Courses" name="search">
                <button class="blog-search bg-[#005797] px-3 text-white rounded-md">
                    <i class="fa fa-search" style="font-size: 27px;"></i>
                </button>
            </form>
        </div>
    </div> 
    <div class="grid lg:grid-cols-4 px-10 pb-4 ">
        <div class="articles lg:col-span-3">
            <div class="grid lg:grid-cols-2 gap-5">
                <div class="article bg-white m-auto justify-center rounded-t-md">
                    <img src="{% static 'images/geology.jpg' %}" class="article_image rounded-t-md"/>
                    <div class="px-3 pb-4">
                        <div class="flex mt-1">
                            <div class="text-black mr-1">
                                <i data-feather="user" class="w-4"></i>
                            </div>
                            <h3 class="text-xs font-semibold text-gray-700">Arman Akbari</h3>
                            <div class="text-black ml-auto">
                                <i data-feather="calendar" class=" text-gray-400 w-4"></i>
                            </div> 
                            <h4 class="text-xs text-gray-400">21 November, 2023</h4>    
                        </div>
                        <h1 class="text-xl font-bold mt-2">Article Title</h1>
                        <p class="mt-2 text-sm"> This is summary of this article in this blog page. blah blah  blah blah blah blah blah blah ...</p>
                    </div>
                </div>

                <div class="article bg-white m-auto justify-center rounded-t-md">
                    <img src="{% static 'images/geology.jpg' %}" class="article_image rounded-t-md"/>
                    <div class="px-3 pb-4">
                        <div class="flex mt-1">
                            <div class="text-black mr-1">
                                <i data-feather="user" class="w-4"></i>
                            </div>
                            <h3 class="text-xs font-semibold text-gray-700">Arman Akbari</h3>
                            <div class="text-black ml-auto">
                                <i data-feather="calendar" class=" text-gray-400 w-4"></i>
                            </div> 
                            <h4 class="text-xs text-gray-400">21 November, 2023</h4>    
                        </div>
                        <h1 class="text-xl font-bold mt-2">Article Title</h1>
                        <p class="mt-2 text-sm"> This is summary of this article in this blog page. blah blah  blah blah blah blah blah blah ...</p>
                    </div>
                </div>

                <div class="article bg-white m-auto justify-center rounded-t-md">
                    <img src="{% static 'images/geology.jpg' %}" class="article_image rounded-t-md"/>
                    <div class="px-3 pb-4">
                        <div class="flex mt-1">
                            <div class="text-black mr-1">
                                <i data-feather="user" class="w-4"></i>
                            </div>
                            <h3 class="text-xs font-semibold text-gray-700">Arman Akbari</h3>
                            <div class="text-black ml-auto">
                                <i data-feather="calendar" class=" text-gray-400 w-4"></i>
                            </div> 
                            <h4 class="text-xs text-gray-400">21 November, 2023</h4>    
                        </div>
                        <h1 class="text-xl font-bold mt-2">Article Title</h1>
                        <p class="mt-2 text-sm"> This is summary of this article in this blog page. blah blah  blah blah blah blah blah blah ...</p>
                    </div>
                </div>

                <div class="article bg-white m-auto justify-center rounded-t-md">
                    <img src="{% static 'images/geology.jpg' %}" class="article_image rounded-t-md"/>
                    <div class="px-3 pb-4">
                        <div class="flex mt-1">
                            <div class="text-black mr-1">
                                <i data-feather="user" class="w-4"></i>
                            </div>
                            <h3 class="text-xs font-semibold text-gray-700">Arman Akbari</h3>
                            <div class="text-black ml-auto">
                                <i data-feather="calendar" class=" text-gray-400 w-4"></i>
                            </div> 
                            <h4 class="text-xs text-gray-400">21 November, 2023</h4>    
                        </div>
                        <h1 class="text-xl font-bold mt-2">Article Title</h1>
                        <p class="mt-2 text-sm"> This is summary of this article in this blog page. blah blah  blah blah blah blah blah blah ...</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar col-span-1 py-6 px-4">
            <div>
                <h1 class="bg-[#005797] text-white justify-center p-4 mb-4 rounded-md text-center font-bold ">Popular Posts</h1>
                <div class="flex bg-white rounded-md mb-2">
                    <img src="{% static 'images/geology.jpg' %}" alt="image" class="rounded-l-md w-2/5 mr-2">
                    <div class="grid grid-rows-2">
                        <h3 class="text-sm font-bold">Title of post</h3>
                        <h4 class="text-gray-400 text-xs">21 November, 2023</h4>
                    </div>
                </div>

                <div class="flex bg-white rounded-md mb-2">
                    <img src="{% static 'images/geology.jpg' %}" alt="image" class="rounded-l-md w-2/5 mr-2">
                    <div class="grid grid-rows-2">
                        <h3 class="text-sm font-bold">Title of post</h3>
                        <h4 class="text-gray-400 text-xs">21 November, 2023</h4>
                    </div>
                </div>
                
                <div class="flex bg-white rounded-md mb-2">
                    <img src="{% static 'images/geology.jpg' %}" alt="image" class="rounded-l-md w-2/5 mr-2">
                    <div class="grid grid-rows-2">
                        <h3 class="text-sm font-bold">Title of post</h3>
                        <h4 class="text-gray-400 text-xs">21 November, 2023</h4>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>

</div>

{% endblock %}