{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="bg-[#f1f1f1]">
    <div class="flex px-10">   
        <h1 class="text-3xl font-bold m-2">{% translate 'Articles' %}</h1>
        <div class="ml-auto mt-3 h-20">
            <form action="#" class="w-full flex">
                <input class="blog-search rounded-e-md h-10" type="text" placeholder=" Search Courses" name="search">
                <button class="blog-search-button bg-[#005797] p-3 text-white rounded-r-md h-10">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
    </div> 
    <div class="grid lg:grid-cols-4 lg:px-10 pb-4">
        <div class="articles lg:col-span-3 rounded-md">
            <div class="grid gap-5">
                {% for post in posts %}
                <div class="article bg-white m-auto justify-center rounded-md flex">
                    <div class="px-3 pb-4 article-contents w-full">
                        <a href="{% url 'blog:single' post.id %}"><h1 class="text-xl font-bold mt-2">{{post.title}}</h1></a>
                        <p class="mt-2 text-sm text-[#f1f1f1] invisible md:visible">{{post.content|truncatechars:100|safe}}</p>
                        <div class="flex article-date-auther w-full">
                            <div class="flex article-author">
                                <div class="text-black mr-1"><i data-feather="user" class="w-4"></i></div>
                                <h3 class="text-xs font-semibold">{{post.author.get_full_name}}</h3>
                            </div>
                            <div class="flex article-date invisible md:visible">
                                <div class="text-black ml-auto"><i data-feather="calendar" class="w-4"></i></div> 
                                <h3 class="text-xs text-[#f1f1f1]">{{post.published_date|date:"D d M Y"}}</h3>  
                            </div>
                            <button class="px-3 py-1 font-semibold border border-[#005797] rounded-md ml-auto hover:bg-[#005797] hover:text-white article-readmore">Read more</button>
                        </div>
                    </div>
                    <img src="{{post.image.url}}" class="article_image rounded-md"/>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="sidebar col-span-1 py-6 px-4">
            <div>
                <h1 class="bg-[#005797] text-white justify-center p-4 mb-4 rounded-md text-center font-bold ">Popular Posts</h1>
                <div class="flex bg-white rounded-md mb-2">
                    <img src="{% static 'images/geology.jpg' %}" alt="image" class="rounded-l-md w-2/5 mr-2">
                    <div class="grid grid-rows-2">
                        <h3 class="text-sm font-bold">Title of post</h3>
                        <h4 class="text-gray-400 text-xs">21 November, 2023</h4>
                    </div>
                </div>

                <div class="flex bg-white rounded-md mb-2">
                    <img src="{% static 'images/geology.jpg' %}" alt="image" class="rounded-l-md w-2/5 mr-2">
                    <div class="grid grid-rows-2">
                        <h3 class="text-sm font-bold">Title of post</h3>
                        <h4 class="text-gray-400 text-xs">21 November, 2023</h4>
                    </div>
                </div>
                
                <div class="flex bg-white rounded-md mb-2">
                    <img src="{% static 'images/geology.jpg' %}" alt="image" class="rounded-l-md w-2/5 mr-2">
                    <div class="grid grid-rows-2">
                        <h3 class="text-sm font-bold">Title of post</h3>
                        <h4 class="text-gray-400 text-xs">21 November, 2023</h4>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

</div>

{% endblock %}