{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="bg-[#f1f1f1]">
    <div class="flex px-10">   
        <h1 class="text-3xl font-bold m-2">Articles</h1>
        <div class="ml-auto mt-3 h-20">
            <form action="#" class="w-full flex">
                <input class="blog-search rounded-e-md h-10" type="text" placeholder=" Search Courses" name="search">
                <button class="blog-search-button bg-[#005797] p-3 text-white rounded-r-md h-10">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
    </div> 
    <div class="grid lg:grid-cols-4 px-10 pb-4 ">
        <div class="articles lg:col-span-3">
            <div class="bg-white p-10 rounded-md">
                <h1 class="text-4xl font-bold text-[#444444] mb-4">
                    {{post.title}}
                </h1>
                <div class="flex text-sm text-gray-600 article-single-date-author mb-5">
                    <div class="mr-5">Author: {{post.author.get_full_name}}</div>
                    <div>Created in 19/9/2023</div>
                </div>
                
                <img class="w-full  overflow-hidden mb-4 rounded-md h-auto" src="{{post.image.url}}" alt="">
                <p>
                    {{post.content|safe}}
                </p>
            </div>
        </div>
        <div class="sidebar col-span-1 py-6 px-4">
            <div>
                <h1 class="bg-[#005797] text-white justify-center p-4 mb-4 rounded-md text-center font-bold ">Popular Posts</h1>
                <div class="flex bg-white rounded-md mb-2">
                    <img src="{% static 'images/geology.jpg' %}" alt="image" class="rounded-l-md w-2/5 mr-2">
                    <div class="grid grid-rows-2">
                        <h3 class="text-sm font-bold">Title of post</h3>
                        <h4 class="text-gray-400 text-xs">21 November, 2023</h4>
                    </div>
                </div>

                <div class="flex bg-white rounded-md mb-2">
                    <img src="{% static 'images/geology.jpg' %}" alt="image" class="rounded-l-md w-2/5 mr-2">
                    <div class="grid grid-rows-2">
                        <h3 class="text-sm font-bold">Title of post</h3>
                        <h4 class="text-gray-400 text-xs">21 November, 2023</h4>
                    </div>
                </div>
                
                <div class="flex bg-white rounded-md mb-2">
                    <img src="{% static 'images/geology.jpg' %}" alt="image" class="rounded-l-md w-2/5 mr-2">
                    <div class="grid grid-rows-2">
                        <h3 class="text-sm font-bold">Title of post</h3>
                        <h4 class="text-gray-400 text-xs">21 November, 2023</h4>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>

</div>
    
{% endblock %}