{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/styles.css' %}">


    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap"
        rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js"
        integrity="sha512-7x3zila4t2qNycrtZ31HO0NnJr8kg2VI67YLoRSyi9hGhRN66FHYWr7Axa9Y1J9tGYHVBPqIjSE1ogHrJTz51g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>


    <title>Document</title>
</head>

<body class="font-body">

    <!-- navbar section -->
    <section>
        <div>
            <div class="p-1 border-b-2 lg:flex flex-col md:flex-row md:items-center text-center md:space-x-6 justify-center md:justify-end" :class="{'hidden':!navbarOpen,'flex':navbarOpen}">
                {% if request.user.is_authenticated %}
                <a href="#" class="group py-1 px-3 flex text-[#3c3c3b] font-semibold text-xs rounded-md hover:text-orange-700 transition ease-in-out duration-500 mb-5 md:mb-0">
                    <div class="mr-3 text-orange-700 ">
                        <i data-feather="log-in"></i>
                    </div>
                    
                    <h1 class="group-hover:text-orange-700 text-[#3c3c3b]">{{request.user.username}}</h1>
                </a>
                <a href="{% url 'accounts:logout' %}" class="group py-1 px-3 flex text-[#3c3c3b] font-semibold text-xs rounded-md hover:text-orange-700 transition ease-in-out duration-500 mb-5 md:mb-0">
                    <div class="mr-3 text-orange-700 ">
                        <i data-feather="log-in"></i>
                    </div>
                    
                    <h1 class="group-hover:text-orange-700 text-[#3c3c3b]">Logout</h1>
                </a>
                {% else %}
                <a href="{% url 'accounts:login' %}" class="group py-1 px-3 flex text-[#3c3c3b] font-semibold text-xs rounded-md hover:text-orange-700 transition ease-in-out duration-500 mb-5 md:mb-0">
                    <div class="mr-3 text-orange-700 ">
                        <i data-feather="log-in"></i>
                    </div>
                    <h1 class="group-hover:text-orange-700 text-[#3c3c3b]">Sign in | Register</h1>
                </a>
                    
                {% endif %}
                
                <a href="#" class="group px-3 py-1 flex text-[#3c3c3b] font-semibold text-xs rounded-md transition ease-linear duration-200">
                    <div class="mr-3 text-orange-700 ">
                        <i data-feather="calendar"></i>
                    </div>
                    <h1 class="group-hover:text-orange-700 text-[#3c3c3b]">Bookings</h1>
                </a>
            </div>
            <nav class="text-[#3c3c3b] flex-wrap lg:flex items-center px-4 navbar" x-data="{navbarOpen:false}">
                <div class="flex items-center mb-10 lg:mb-0">
                    <img src="{% static '/images/logo-icon.png' %}" alt="Logo">
                    <h1 class="text-xl text-[#3c3c3b] font-bold">Mobility Oil & Gas</h1>
                    <button
                        class="lg:hidden w-10 h-10 ml-auto flex items-center justify-center border border-orange-700 text-orange-700 rounded-md"
                        @click="navbarOpen = !navbarOpen">
                        <i data-feather="menu"></i>
                    </button>
                </div>
                <ul class="lg:flex flex-col lg:flex-row lg:items-center lg:space-x-8 xl:space-x-14 justify-end main-menu-ul"
                    :class="{'hidden':!navbarOpen,'flex':navbarOpen}">
                    <li class="font-semibold text-[#3c3c3b] hover:text-gray-400 transition ease-in-out duration-300 mb-5 lg:mb-0">
                        <a href="{% url 'website:index' %}">Home</a>
                    </li>
                    <li class="font-semibold text-[#3c3c3b] hover:text-gray-400 transition ease-in-out duration-300 mb-5 lg:mb-0">
                        <a href="{% static '/pages/courses.html' %}" class="flex">
                            <h1>Courses</h1>
                            <div class="ml-2 text-orange-700 items-center mt-1">
                                <i data-feather="chevron-down"></i>
                            </div>
                        </a>
                            <ul class="submenu">
                                <li><a href="#">Geology Courses</a></li>
                                <li><a href="#">Health and Safety Courses</a></li>
                                <li><a href="#">Corrosion Engineering Courses</a></li>
                                <li><a href="#">Petrophysics Courses</a></li> 
                            </ul>
                    </li>
                    <li class="font-semibold text-[#3c3c3b] hover:text-gray-400 transition ease-in-out duration-300 mb-5 lg:mb-0">
                        <a href="#">Consultancy</a>
                    </li>
                    <li class="font-semibold text-[#3c3c3b] hover:text-gray-400 transition ease-in-out duration-300 mb-5 lg:mb-0">
                        <a href="{% url 'blog:index' %}">Articles</a>
                    </li>
                    <li class="font-semibold text-[#3c3c3b] hover:text-gray-400 transition ease-in-out duration-300 mb-5 lg:mb-0">
                        <a href="{% url 'website:about' %}">About us</a>
                    </li>
                    <li class="font-semibold text-[#3c3c3b] hover:text-gray-400 transition ease-in-out duration-300 mb-5 lg:mb-0">
                        <a href="{% url 'website:contact' %}">Contact</a>
                    </li>
                </ul>

                
            </nav>
        </div> <!-- container.// -->
    </section>
    <!-- navbar section //end -->


    {% block content %}
    
    {% endblock %}


     <!-- Course Categories -->

     <footer class="bg-white py-16">

        <div class="container max-w-screen-xl mx-auto px-4">
            <div class="flex flex-col lg:flex-row lg:justify-between">

                <div class="space-y-7 mb-10 lg:mb-0">
                    <div class="flex justify-center lg:justify-start">
                        <img src="{% static 'assets/image/footer-logo.png' %}" alt="Image">
                    </div>

                    <p class="font-light text-gray-400 text-md md:text-lg text-center lg:text-left">Donate and help
                        others people <br> around the world</p>

                    <div class="flex items-center justify-center lg:justify-start space-x-5">
                        <a href="#"
                            class="px-3 py-3 bg-gray-200 text-gray-700 rounded-full hover:bg-info hover:text-white transition ease-in-out duration-500">
                            <i data-feather="facebook"></i>
                        </a>

                        <a href="#"
                            class="px-3 py-3 bg-gray-200 text-gray-700 rounded-full hover:bg-info hover:text-white transition ease-in-out duration-500">
                            <i data-feather="twitter"></i>
                        </a>

                        <a href="#"
                            class="px-3 py-3 bg-gray-200 text-gray-700 rounded-full hover:bg-info hover:text-white transition ease-in-out duration-500">
                            <i data-feather="linkedin"></i>
                        </a>
                    </div>
                </div>

                <div class="text-center lg:text-left space-y-7 mb-10 lg:mb-0">
                    <h4 class="font-semibold text-gray-900 text-lg md:text-2xl">Quick links</h4>

                    <a href="#"
                        class="block font-light text-gray-400 text-sm md:text-lg hover:text-gray-800 transition ease-in-out duration-300">Charity
                        Ratings</a>

                    <a href="#"
                        class="block font-light text-gray-400 text-sm md:text-lg hover:text-gray-800 transition ease-in-out duration-300">Top-Rated
                        Charities</a>

                    <a href="#"
                        class="block font-light text-gray-400 text-sm md:text-lg hover:text-gray-800 transition ease-in-out duration-300">Top
                        Compensation</a>

                    <a href="#"
                        class="block font-light text-gray-400 text-sm md:text-lg hover:text-gray-800 transition ease-in-out duration-300">High
                        Asset Charities</a>
                </div>

                <div class="text-center lg:text-left space-y-7 mb-10 lg:mb-0">
                    <h4 class="font-semibold text-gray-900 text-lg md:text-2xl">Company</h4>

                    <a href="#"
                        class="block font-light text-gray-400 text-sm md:text-lg hover:text-gray-800 transition ease-in-out duration-300">About
                        Us</a>

                    <a href="#"
                        class="block font-light text-gray-400 text-sm md:text-lg hover:text-gray-800 transition ease-in-out duration-300">Journalists
                        / Media</a>

                    <a href="#"
                        class="block font-light text-gray-400 text-sm md:text-lg hover:text-gray-800 transition ease-in-out duration-300">Membership</a>

                    <a href="#"
                        class="block font-light text-gray-400 text-sm md:text-lg hover:text-gray-800 transition ease-in-out duration-300">Blog</a>
                </div>

                <div class="text-center lg:text-left space-y-7 mb-10 lg:mb-0">
                    <h4 class="font-semibold text-gray-900 text-lg md:text-2xl">Legal</h4>

                    <a href="#"
                        class="block font-light text-gray-400 text-sm md:text-lg hover:text-gray-800 transition ease-in-out duration-300">FAQ</a>

                    <a href="#"
                        class="block font-light text-gray-400 text-sm md:text-lg hover:text-gray-800 transition ease-in-out duration-300">Terms
                        & Conditions</a>
                </div>

            </div>
        </div> <!-- container.// -->

    </footer>

    <script>
        feather.replace()
    </script>

</body>

</html>