{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap"rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js"
        integrity="sha512-7x3zila4t2qNycrtZ31HO0NnJr8kg2VI67YLoRSyi9hGhRN66FHYWr7Axa9Y1J9tGYHVBPqIjSE1ogHrJTz51g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://unpkg.com/tailwindcss@1.2.0/dist/tailwind.min.css" rel="stylesheet">
    <title>Document</title>
</head>

<body class="font-body bg-[#f1f1f1]">

    <!-- navbar section -->
    <section class="bg-white">
        <div>
            <div class="p-1 border-b-2 lg:flex flex-col md:flex-row md:items-center text-center md:space-x-6 justify-center md:justify-end"
                :class="{'hidden':!navbarOpen,'flex':navbarOpen}">
                {% if request.user.is_authenticated %}
                <a href=""
                    class="group py-1 px-3 flex text-[#3c3c3b] font-semibold text-xs rounded-md hover:text-[#005797] transition ease-in-out duration-500 mb-5 md:mb-0">
                    <div class="mr-3 text-[#005797] ">
                        <i data-feather="log-in"></i>
                    </div>
                    <h1 class="group-hover:text-[#005797] text-[#3c3c3b]">My Account {{request.user.username}}</h1>
                </a>
                <a href="{% url 'accounts:logout' %}"
                    class="group py-1 px-3 flex text-[#3c3c3b] font-semibold text-xs rounded-md hover:text-[#005797] transition ease-in-out duration-500 mb-5 md:mb-0">
                    <h1 class="group-hover:text-[#005797] text-[#3c3c3b]">Sign Out</h1>
                </a>
                {% else %}
                <a href="{% url 'accounts:login' %}"
                    class="group py-1 px-3 flex text-[#3c3c3b] font-semibold text-xs rounded-md hover:text-[#005797] transition ease-in-out duration-500 mb-5 md:mb-0">
                    <div class="mr-3 text-[#005797] ">
                        <i data-feather="log-in"></i>
                    </div>
                    <h1 class="group-hover:text-[#005797] text-[#3c3c3b]">Sign in | Register</h1>
                </a>
                
                {% endif %}
                <a href="#"
                    class="group px-3 py-1 flex text-[#3c3c3b] font-semibold text-xs rounded-md transition ease-linear duration-200">
                    <div class="mr-3 text-[#005797] ">
                        <i data-feather="calendar"></i>
                    </div>
                    <h1 class="group-hover:text-[#005797] text-[#3c3c3b]">Bookings</h1>
                </a>
            </div>
            <nav class="text-[#3c3c3b] flex-wrap lg:flex items-center px-4 navbar"
                x-data="{navbarOpen:false,subnavbarOpen:false }">
                <div class="flex items-center mb-10 lg:mb-0">
                    <a href="{% url 'website:index' %}">
                    <img class="logo" src="{% static 'images/logo.jpg' %}" alt="Logo"></a>
                    <a href="{% url 'website:index' %}">

                    <h1 class="text-xl text-[#3c3c3b] font-bold">Farakooshan</h1></a>
                    
                    <button
                        class="lg:hidden w-10 h-10 ml-auto flex items-center justify-center border border-[#005797] text-[#005797] rounded-md"
                        @click="navbarOpen = !navbarOpen">
                        <i data-feather="menu"></i>
                    </button>

                </div>
                <ul class="lg:flex flex-col lg:flex-row lg:items-center lg:space-x-8 xl:space-x-14 justify-end main-menu-ul"
                    :class="{'hidden':!navbarOpen,'flex':navbarOpen}">
                    <li
                        class="font-semibold text-[#3c3c3b] hover:text-gray-400 transition ease-in-out duration-300 mb-5 lg:mb-0">
                        <a href="{% url 'website:index' %}">Home</a>
                    </li>
                    <li class="font-semibold text-[#252525] hover:text-[#252525] transition ease-in-out duration-100 mb-5 lg:mb-0">
                        <div class="dropdown inline-block relative">
                            <a class="py-2 px-2 rounded inline-flex items-center" href={% url 'course:categories' %}>
                                <span>Courses</span>
                            </a>
                            <ul class="dropdown-content absolute hidden pt-1">
                                <li class="dropdown">
                                    <a class="bg-[#f1f1f1] hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Engineering</a>
                                    <ul class="dropdown-content dropdown-content-second absolute hidden text-gray-700 pl-5 -mt-10 ">
                                        <li><a class="bg-[#f1f1f1] hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Course Topics</a>
                                        <li><a class="bg-[#f1f1f1] hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Resources</a>
                                        <li><a class="bg-[#f1f1f1] hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Movies</a>
                                        <li><a class="bg-[#f1f1f1] hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Movies</a>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="bg-[#f1f1f1] hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Operation & Maintenance</a>
                                    <ul class="dropdown-content dropdown-content-second absolute hidden text-gray-700 pl-5 -mt-10 ">
                                        <li><a class="bg-[#f1f1f1] hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Course Topics</a>
                                        <li><a class="bg-[#f1f1f1] hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Resources</a>
                                        <li><a class="bg-[#f1f1f1] hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Movies</a>
                                        <li><a class="bg-[#f1f1f1] hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Movies</a>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="bg-[#f1f1f1] hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">HSE</a>
                                    <ul class="dropdown-content dropdown-content-second absolute hidden text-gray-700 pl-5 -mt-10 ">
                                        <li><a class="bg-[#f1f1f1] hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Course Topics</a>
                                        <li><a class="bg-[#f1f1f1] hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Resources</a>
                                        <li><a class="bg-[#f1f1f1] hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Movies</a>
                                        <li><a class="bg-[#f1f1f1] hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Movies</a>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="bg-[#f1f1f1] hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Control and Instrument</a>
                                    <ul class="dropdown-content dropdown-content-second absolute hidden text-gray-700 pl-5 -mt-10 ">
                                        <li><a class="bg-[#f1f1f1] hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Course Topics</a>
                                        <li><a class="bg-[#f1f1f1] hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Resources</a>
                                        <li><a class="bg-[#f1f1f1] hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Movies</a>
                                        <li><a class="bg-[#f1f1f1] hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Movies</a>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="bg-[#f1f1f1] hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Inspection</a>
                                    <ul class="dropdown-content dropdown-content-second absolute hidden text-gray-700 pl-5 -mt-10 ">
                                        <li><a class="bg-[#f1f1f1] hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Course Topics</a>
                                        <li><a class="bg-[#f1f1f1] hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Resources</a>
                                        <li><a class="bg-[#f1f1f1] hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Movies</a>
                                        <li><a class="bg-[#f1f1f1] hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Movies</a>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="bg-[#f1f1f1] hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Standards</a>
                                    <ul class="dropdown-content dropdown-content-second absolute hidden text-gray-700 pl-5 -mt-10 ">
                                        <li><a class="bg-[#f1f1f1] hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Course Topics</a>
                                        <li><a class="bg-[#f1f1f1] hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Resources</a>
                                        <li><a class="bg-[#f1f1f1] hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Movies</a>
                                        <li><a class="bg-[#f1f1f1] hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Movies</a>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="bg-[#f1f1f1] hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Energy Saving</a>
                                    <ul class="dropdown-content dropdown-content-second absolute hidden text-gray-700 pl-5 -mt-10 ">
                                        <li><a class="bg-[#f1f1f1] hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Course Topics</a>
                                        <li><a class="bg-[#f1f1f1] hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Resources</a>
                                        <li><a class="bg-[#f1f1f1] hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Movies</a>
                                        <li><a class="bg-[#f1f1f1] hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Movies</a>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="bg-[#f1f1f1] hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">AI and Machine Learning</a>
                                    <ul class="dropdown-content dropdown-content-second absolute hidden text-gray-700 pl-5 -mt-10 ">
                                        <li><a class="bg-[#f1f1f1] hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Course Topics</a>
                                        <li><a class="bg-[#f1f1f1] hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Resources</a>
                                        <li><a class="bg-[#f1f1f1] hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Movies</a>
                                        <li><a class="bg-[#f1f1f1] hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Movies</a>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="bg-[#f1f1f1] hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Physical Asset Management</a>
                                    <ul class="dropdown-content dropdown-content-second absolute hidden text-gray-700 pl-5 -mt-10 ">
                                        <li><a class="bg-[#f1f1f1] hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Course Topics</a>
                                        <li><a class="bg-[#f1f1f1] hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Resources</a>
                                        <li><a class="bg-[#f1f1f1] hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Movies</a>
                                        <li><a class="bg-[#f1f1f1] hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Movies</a>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="bg-[#f1f1f1] hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Traning Need Analysis (TNA)</a>
                                    <ul class="dropdown-content dropdown-content-second absolute hidden text-gray-700 pl-5 -mt-10 " style="z-index: 99999;">
                                        <li><a class="bg-[#f1f1f1] hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Course Topics</a>
                                        <li><a class="bg-[#f1f1f1] hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Resources</a>
                                        <li><a class="bg-[#f1f1f1] hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Movies</a>
                                        <li><a class="bg-[#f1f1f1] hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Movies</a>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        
                        <!-- <a href="{% url 'course:categories' %}" class="flex">
                            <h1>Courses</h1>
                            <div class="ml-2 text-[#005797] items-center mt-1">
                                <i data-feather="chevron-down"></i>
                            </div>
                        </a> -->

                       <!-- <ul class="submenu grid grid-cols-1 md:grid-cols-3 text-sm">
                            <li class="col-span-1 w-full p-3">
                                <div class="w-full border-b-[#005797] border-b-2 pb-2">
                                    <a href="">Engineering</a>
                                </div>
                                <div class="subsubmenu relative">
                                    <ul class="text-[#3c3c3b]">
                                        <li><a class="flex h-4" href="#">
                                                <div class="text-[#005797] flex">
                                                    <i data-feather="chevron-right"></i>
                                                </div>
                                                <div>Articles</div>
                                        </a></li>   
                                        <li><a class="flex" href="#">
                                                <div class="text-[#005797] flex">
                                                    <i data-feather="chevron-right"></i>
                                                </div>
                                                <div>Movies</div>
                                            </a></li> 
                                        <li><a class="flex" href="#">
                                                <div class="text-[#005797] flex">
                                                    <i data-feather="chevron-right"></i>
                                                </div>
                                                <div>Assesments</div>
                                        </a></li> 
                                        
                                    </ul>
                                </div>
                            </li>
                            <li class="col-span-1 w-full p-3">
                                <div class="w-full border-b-[#005797] border-b-2 pb-2">
                                    <a href="#">Operation & Maintenance</a>
                                </div>
                                <div class="subsubmenu relative">
                                    <ul class="text-[#3c3c3b]">
                                        <li>
                                            <a class="flex h-4" href="#">
                                                <div class="text-[#005797] flex">
                                                    <i data-feather="chevron-right"></i>
                                                </div>
                                                <div>Articles</div>
                                            </a>                                           
                                        </li>   
                                        <li>
                                            <a class="flex" href="#">
                                                <div class="text-[#005797] flex">
                                                    <i data-feather="chevron-right"></i>
                                                </div>
                                                <div>Movies</div>
                                            </a>                                           
                                        </li> 
                                        <li>
                                            <a class="flex" href="#">
                                                <div class="text-[#005797] flex">
                                                    <i data-feather="chevron-right"></i>
                                                </div>
                                                <div>Assesments</div>
                                            </a>                                           
                                        </li> 
                                    </ul>
                                </div>
                            </li>
                            <li class="col-span-1 w-full p-3">
                                <div class="w-full border-b-[#005797] border-b-2 pb-2">
                                    <a href="#">HSE</a>    
                                </div>
                                <div class="subsubmenu relative">
                                    <ul class="text-[#3c3c3b]">
                                        <li>
                                            <a class="flex h-4" href="#">
                                                <div class="text-[#005797] flex">
                                                    <i data-feather="chevron-right"></i>
                                                </div>
                                                <div>Articles</div>
                                            </a>                                           
                                        </li>   
                                        <li>
                                            <a class="flex" href="#">
                                                <div class="text-[#005797] flex">
                                                    <i data-feather="chevron-right"></i>
                                                </div>
                                                <div>Movies</div>
                                            </a>                                           
                                        </li> 
                                        <li>
                                            <a class="flex" href="#">
                                                <div class="text-[#005797] flex">
                                                    <i data-feather="chevron-right"></i>
                                                </div>
                                                <div>Assesments</div>
                                            </a>                                           
                                        </li> 
                                    </ul>
                                </div>
                            </li>
                            <li class="col-span-1 w-full p-3">
                                <div class="w-full border-b-[#005797] border-b-2 pb-2">
                                    <a href="#">Control and Instrument</a>    
                                </div>
                                <div class="subsubmenu relative">
                                    <ul class="text-[#005797]">
                                        <li>
                                            <a class="flex h-4" href="#">
                                                <div class="text-[#005797] flex">
                                                    <i data-feather="chevron-right"></i>
                                                </div>
                                                <div>Articles</div>
                                            </a>                                           
                                        </li>   
                                        <li>
                                            <a class="flex" href="#">
                                                <div class="text-[#005797] flex">
                                                    <i data-feather="chevron-right"></i>
                                                </div>
                                                <div>Movies</div>
                                            </a>                                           
                                        </li> 
                                        <li>
                                            <a class="flex" href="#">
                                                <div class="text-[#005797] flex">
                                                    <i data-feather="chevron-right"></i>
                                                </div>
                                                <div>Assesments</div>
                                            </a>                                           
                                        </li> 
                                    </ul>
                                </div>
                            </li>
                            <li class="col-span-1 w-full p-3">
                                <div class="w-full border-b-[#005797] border-b-2 pb-2">
                                    <a href="#">Inspection</a>    
                                </div>
                                <div class="subsubmenu relative">
                                    <ul class="text-[#005797]">
                                        <li>
                                            <a class="flex h-4" href="#">
                                                <div class="text-[#005797] flex">
                                                    <i data-feather="chevron-right"></i>
                                                </div>
                                                <div>Articles</div>
                                            </a>                                           
                                        </li>   
                                        <li>
                                            <a class="flex" href="#">
                                                <div class="text-[#005797] flex">
                                                    <i data-feather="chevron-right"></i>
                                                </div>
                                                <div>Movies</div>
                                            </a>                                           
                                        </li> 
                                        <li>
                                            <a class="flex" href="#">
                                                <div class="text-[#005797] flex">
                                                    <i data-feather="chevron-right"></i>
                                                </div>
                                                <div>Assesments</div>
                                            </a>                                           
                                        </li> 
                                    </ul>
                                </div>
                            </li>
                            <li class="col-span-1 w-full p-3">
                                <div class="w-full border-b-[#005797] border-b-2 pb-2">
                                    <a href="#">Standards</a>    
                                </div>
                                <div class="subsubmenu relative">
                                    <ul class="text-[#005797]">
                                        <li>
                                            <a class="flex h-4" href="#">
                                                <div class="text-[#005797] flex">
                                                    <i data-feather="chevron-right"></i>
                                                </div>
                                                <div>Articles</div>
                                            </a>                                           
                                        </li>   
                                        <li>
                                            <a class="flex" href="#">
                                                <div class="text-[#005797] flex">
                                                    <i data-feather="chevron-right"></i>
                                                </div>
                                                <div>Movies</div>
                                            </a>                                           
                                        </li> 
                                        <li>
                                            <a class="flex" href="#">
                                                <div class="text-[#005797] flex">
                                                    <i data-feather="chevron-right"></i>
                                                </div>
                                                <div>Assesments</div>
                                            </a>                                           
                                        </li> 
                                    </ul>
                                </div>
                            </li>
                            <li class="col-span-1 w-full p-3">
                                <div class="w-full border-b-[#005797] border-b-2 pb-2">
                                    <a href="#">Energy Saving</a>    
                                </div>
                                <div class="subsubmenu relative">
                                    <ul class="text-[#005797]">
                                        <li>
                                            <a class="flex h-4" href="#">
                                                <div class="text-[#005797] flex">
                                                    <i data-feather="chevron-right"></i>
                                                </div>
                                                <div>Articles</div>
                                            </a>                                           
                                        </li>   
                                        <li>
                                            <a class="flex" href="#">
                                                <div class="text-[#005797] flex">
                                                    <i data-feather="chevron-right"></i>
                                                </div>
                                                <div>Movies</div>
                                            </a>                                           
                                        </li> 
                                        <li>
                                            <a class="flex" href="#">
                                                <div class="text-[#005797] flex">
                                                    <i data-feather="chevron-right"></i>
                                                </div>
                                                <div>Assesments</div>
                                            </a>                                           
                                        </li> 
                                    </ul>
                                </div>
                            </li>
                            <li class="col-span-1 w-full p-3">
                                <div class="w-full border-b-[#005797] border-b-2 pb-2">
                                    <a href="#">AI and Machine learning</a>    
                                </div>
                                <div class="subsubmenu relative">
                                    <ul class="text-[#005797]">
                                        <li>
                                            <a class="flex h-4" href="#">
                                                <div class="text-[#005797] flex">
                                                    <i data-feather="chevron-right"></i>
                                                </div>
                                                <div>Articles</div>
                                            </a>                                           
                                        </li>   
                                        <li>
                                            <a class="flex" href="#">
                                                <div class="text-[#005797] flex">
                                                    <i data-feather="chevron-right"></i>
                                                </div>
                                                <div>Movies</div>
                                            </a>                                           
                                        </li> 
                                        <li>
                                            <a class="flex" href="#">
                                                <div class="text-[#005797] flex">
                                                    <i data-feather="chevron-right"></i>
                                                </div>
                                                <div>Assesments</div>
                                            </a>                                           
                                        </li> 
                                    </ul>
                                </div>
                            </li>
                            <li class="col-span-1 w-full p-3">
                                <div class="w-full border-b-[#005797] border-b-2 pb-2">
                                    <a href="#">Physical Asset Management</a>    
                                </div>
                                <div class="subsubmenu relative">
                                    <ul class="text-[#005797]">
                                        <li>
                                            <a class="flex h-4" href="#">
                                                <div class="text-[#005797] flex">
                                                    <i data-feather="chevron-right"></i>
                                                </div>
                                                <div>Articles</div>
                                            </a>                                           
                                        </li>   
                                        <li>
                                            <a class="flex" href="#">
                                                <div class="text-[#005797] flex">
                                                    <i data-feather="chevron-right"></i>
                                                </div>
                                                <div>Movies</div>
                                            </a>                                           
                                        </li> 
                                        <li>
                                            <a class="flex" href="#">
                                                <div class="text-[#005797] flex">
                                                    <i data-feather="chevron-right"></i>
                                                </div>
                                                <div>Assesments</div>
                                            </a>                                           
                                        </li> 
                                    </ul>
                                </div>
                            </li>
                            <li class="col-span-1 w-full p-3">
                                <div class="w-full border-b-[#005797] border-b-2 pb-2">
                                    <a href="#">Training Need Analysis (TNA)</a>    
                                </div>
                                <div class="subsubmenu relative">
                                    <ul class="text-[#005797]">
                                        <li>
                                            <a class="flex h-4" href="#">
                                                <div class="text-[#005797] flex">
                                                    <i data-feather="chevron-right"></i>
                                                </div>
                                                <div class="text-[#f1f1f1]">Articles</div>
                                            </a>                                           
                                        </li>   
                                        <li>
                                            <a class="flex" href="#">
                                                <div class="text-[#005797] flex">
                                                    <i data-feather="chevron-right"></i>
                                                </div>
                                                <div>Movies</div>
                                            </a>                                           
                                        </li> 
                                        <li>
                                            <a class="flex" href="#">
                                                <div class="text-[#005797] flex">
                                                    <i data-feather="chevron-right"></i>
                                                </div>
                                                <div>Assesments</div>
                                            </a>                                           
                                        </li> 
                                    </ul>
                                </div>
                            </li>

                        </ul>  -->

                    </li>
                    <li
                        class="font-semibold text-[#3c3c3b] hover:text-gray-400 transition ease-in-out duration-300 mb-5 lg:mb-0">
                        <a href="#">Consultancy</a>
                    </li>
                    <li
                        class="font-semibold text-[#3c3c3b] hover:text-gray-400 transition ease-in-out duration-300 mb-5 lg:mb-0">
                        <a href="{% url 'blog:index' %}">Articles</a>
                    </li>
                    <li
                        class="font-semibold text-[#3c3c3b] hover:text-gray-400 transition ease-in-out duration-300 mb-5 lg:mb-0">
                        <a href="{% url 'website:about' %}">About us</a>
                    </li>
                    <li
                        class="font-semibold text-[#3c3c3b] hover:text-gray-400 transition ease-in-out duration-300 mb-5 lg:mb-0">
                        <a href="{% url 'website:contact' %}">Contact</a>
                    </li>
                </ul>


            </nav>
        </div> <!-- container.// -->
    </section>
    <!-- navbar section //end -->


    {% block content %}

    {% endblock %}


    <footer class="bg-[#444444] py-16 text-[#f1f1f1]">

        <div class="container max-w-screen-xl mx-auto px-4">
            <div class="flex flex-col lg:flex-row lg:justify-between">

                <div class="space-y-7 mb-10 lg:mb-0">
                    <div class="flex justify-center lg:justify-start">
                        <img class="w-10" src="{% static 'images/logo.jpg' %}" alt="Image">
                    </div>

                    <p class="font-light text-gray-400 text-md md:text-lg text-center lg:text-left">Donate and help
                        others people <br> around the world</p>

                    <div class="flex items-center justify-center lg:justify-start space-x-5">
                        <a href="#"
                            class="px-3 py-3 bg-gray-200 text-gray-700 rounded-full hover:bg-info hover:text-white transition ease-in-out duration-500">
                            <i data-feather="facebook"></i>
                        </a>

                        <a href="#"
                            class="px-3 py-3 bg-gray-200 text-gray-700 rounded-full hover:bg-info hover:text-white transition ease-in-out duration-500">
                            <i data-feather="twitter"></i>
                        </a>

                        <a href="#"
                            class="px-3 py-3 bg-gray-200 text-gray-700 rounded-full hover:bg-info hover:text-white transition ease-in-out duration-500">
                            <i data-feather="linkedin"></i>
                        </a>
                    </div>
                </div>

                <div class="text-center lg:text-left space-y-7 mb-10 lg:mb-0">
                    <h4 class="font-semibold text-gray-900 text-lg md:text-2xl">Quick links</h4>

                    <a href="#"
                        class="block font-light text-gray-400 text-sm md:text-lg hover:text-gray-800 transition ease-in-out duration-300">Charity
                        Ratings</a>

                    <a href="#"
                        class="block font-light text-gray-400 text-sm md:text-lg hover:text-gray-800 transition ease-in-out duration-300">Top-Rated
                        Charities</a>

                    <a href="#"
                        class="block font-light text-gray-400 text-sm md:text-lg hover:text-gray-800 transition ease-in-out duration-300">Top
                        Compensation</a>

                    <a href="#"
                        class="block font-light text-gray-400 text-sm md:text-lg hover:text-gray-800 transition ease-in-out duration-300">High
                        Asset Charities</a>
                </div>

                <div class="text-center lg:text-left space-y-7 mb-10 lg:mb-0">
                    <h4 class="font-semibold text-gray-900 text-lg md:text-2xl">Company</h4>

                    <a href="#"
                        class="block font-light text-gray-400 text-sm md:text-lg hover:text-gray-800 transition ease-in-out duration-300">About
                        Us</a>

                    <a href="#"
                        class="block font-light text-gray-400 text-sm md:text-lg hover:text-gray-800 transition ease-in-out duration-300">Journalists
                        / Media</a>

                    <a href="#"
                        class="block font-light text-gray-400 text-sm md:text-lg hover:text-gray-800 transition ease-in-out duration-300">Membership</a>

                    <a href="#"
                        class="block font-light text-gray-400 text-sm md:text-lg hover:text-gray-800 transition ease-in-out duration-300">Blog</a>
                </div>

                <div class="text-center lg:text-left space-y-7 mb-10 lg:mb-0">
                    <h4 class="font-semibold text-gray-900 text-lg md:text-2xl">Legal</h4>

                    <a href="#"
                        class="block font-light text-gray-400 text-sm md:text-lg hover:text-gray-800 transition ease-in-out duration-300">FAQ</a>

                    <a href="#"
                        class="block font-light text-gray-400 text-sm md:text-lg hover:text-gray-800 transition ease-in-out duration-300">Terms
                        & Conditions</a>
                </div>

            </div>
        </div> <!-- container.// -->

    </footer>

    <script>
        feather.replace()
    </script>

</body>
<script src="https://unpkg.com/@themesberg/flowbite@1.2.0/dist/flowbite.bundle.js"></script>
</html>