{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/styles.css' %}">


    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap"
        rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js"
        integrity="sha512-7x3zila4t2qNycrtZ31HO0NnJr8kg2VI67YLoRSyi9hGhRN66FHYWr7Axa9Y1J9tGYHVBPqIjSE1ogHrJTz51g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>


    <title>Document</title>
</head>

<body class="font-body">

    <!-- navbar section -->
    <section>
        <div>
            <nav class="flex-wrap lg:flex items-center px-4 navbar" x-data="{navbarOpen:false}">
                <div class="flex items-center mb-10 lg:mb-0">
                    <img src="{% static 'images/logo-icon.png' %}" alt="Logo">
                    <h1 class="text-xl text-gray-700 font-bold">Mobility Oil & Gas</h1>
                    <button
                        class="lg:hidden w-10 h-10 ml-auto flex items-center justify-center border border-blue-500 text-blue-500 rounded-md"
                        @click="navbarOpen = !navbarOpen">
                        <i data-feather="menu"></i>
                    </button>
                </div>
                <ul class="lg:flex flex-col lg:flex-row lg:items-center lg:mx-auto lg:space-x-8 xl:space-x-14"
                    :class="{'hidden':!navbarOpen,'flex':navbarOpen}">
                    <li class="font-semibold text-gray-900 hover:text-gray-400 transition ease-in-out duration-300 mb-5 lg:mb-0">
                        <a href="#">Home</a>
                    </li>
                    <li class="font-semibold text-gray-900 hover:text-gray-400 transition ease-in-out duration-300 mb-5 lg:mb-0">
                        <a href="./pages/courses.html">Courses
                            <ul class="submenu">
                                <li><a href="#">course 1</a></li>
                                <li><a href="#">course 2</a></li>
                                <li><a href="#">course 3</a></li>
                                <li><a href="#">course 4</a></li> 
                            </ul>
                        </a>
                    </li>
                    <li class="font-semibold text-gray-900 hover:text-gray-400 transition ease-in-out duration-300 mb-5 lg:mb-0">
                        <a href="#">About us</a>
                    </li>
                    <li class="font-semibold text-gray-900 hover:text-gray-400 transition ease-in-out duration-300 mb-5 lg:mb-0">
                        <a href="#">Contact</a>
                    </li>
                </ul>

                <div class="lg:flex flex-col md:flex-row md:items-center text-center md:space-x-6"
                    :class="{'hidden':!navbarOpen,'flex':navbarOpen}">
                    <a href="#"
                        class="px-4 py-3 bg-orange-700 text-white font-semibold text-sm rounded-md hover:bg-orange-700 transition ease-in-out duration-500 mb-5 md:mb-0">Join</a>

                    <a href="#"
                        class="px-4 py-3 border-2 border-orange-700 text-orange-700 font-semibold text-sm rounded-md hover:bg-orange-700 hover:text-white transition ease-linear duration-500">Become
                        a member</a>
                </div>
            </nav>
        </div> <!-- container.// -->
    </section>
    <!-- navbar section //end -->

    
    <!-- panel -->
    <div class="flex flex-col md:flex-row justify-between space-x-20 text-white hero px-24">
        <div class="text-center lg:text-left mt-28">
            <h1 class="font-semibold text-white text-3xl md:text-6xl leading-normal mb-6">Mobility Oil & Gas Ltd</h1>

            <p class="font-light text-md md:text-lg leading-normal mb-12">Oil & Gas Training Courses Online & In-Person</p>

            <button class="mb-12 px-6 py-4 bg-orange-700 font-semibold text-white text-lg rounded-xl hover:bg-orange-700 transition ease-in-out duration-500">
                View course directory
            </button>
        </div>
    </div>

    <!--  -->
    <section class="p-16 border grid md:grid-cols-2 gap-5 underHero bg-gray-200">
        <div class="col-span-1 relative  transition ease-in-out duration-500 container_hover mb-4">
            <a href="#">
                <img class="img--underHero" src="{% static 'images/back1.jpg' %}" alt="working">
                <h1 class="absolute top-0 mt-3 ml-3 text-xl md:text-2xl text">Bespoken Training Course</h1>
                <div class="absolute bottom-0 right-0 w-16 py-4 flex justify-center bg-orange-700 text-white">
                    <i data-feather="chevron-right"></i>
                </div>
                <div class="overlay absolute top-0 bottom-0 left-0 right-0"></div>
            </a>
        </div>
        <div class="col-span-1 relative  transition ease-in-out duration-500 container_hover mb-4">
            <a href="#">
                <img class="img--underHero" src="{% static 'images/back1.jpg' %}" alt="working">
                <h1 class="absolute top-0 mt-3 ml-3 text-xl md:text-2xl text">Bespoken Training Course</h1>
                <div class="absolute bottom-0 right-0 w-16 py-4 flex justify-center bg-orange-700 text-white">
                    <i data-feather="chevron-right"></i>
                </div>
                <div class="overlay absolute top-0 bottom-0 left-0 right-0"></div>
            </a>
        </div>
    </section>


    <section class="bg-white AboutCard py-8 md:mt-10 flex items-center justify-center">
        <div class="text-center">
            <h3 class="text-4xl text-center p-3">Oil & Gas Consultancy Services</h3>
            <p class="text-center">
                Mobility Oil and Gas Petroleum Engineering consultancy offers full life cycle services covering
                Technical and Commercial Evaluation of Potential Fields, Exploration and Appraisal, Field Development
                and Production.
            </p>
            <h5 class="text-2xl text-center p-3">Field Management (Field Development & Operations)</h5>
            <p class="text-center">
                Our team is equipped with the requisite skills, experience and tools required to assist and guide our
                clients to maximize value from assets at every stage and the whole spectrum of the hydrocarbon
                maturation funnel (exploration to production). We are also tooled to provide services in field
                management to maximize recovery from both new and mature fields.
            </p>
            <br /><br />
            <button
                class="home-about-btn px-3 py-1 bg-white font-semibold text-orange-700 text-lg rounded-sm hover:bg-orange-700 hover:text-white transition ease-in-out duration-500 border border-orange-700">About</button>

        </div>

    </section>




    <!-- course categories -->
    <section class="py-16 md:mt-10 bg-gray-100">
        <div class="container max-w-screen-xl mx-auto px-4">
            <p class="font-light text-gray-500 text-lg md:text-xl text-center uppercase mb-6">Courses</p>
            <h1 class="font-semibold text-gray-900 text-xl md:text-4xl text-center leading-normal mb-10">Course
                Categories
            </h1>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-10 relative">
                
                <a href="#" class="group text-center border bg-white rounded-md hover:text-white hover:bg-orange-700 transition duration-500">
                    <div class="group-hover:text-white text-black items-center p-5">
                        <h4 class="font-semibold text-xl md:text-1xl mb-6">Corrosion Engineering Courses</h4>
                    </div>
                    <p class="group-hover:text-gray-200 font-light text-gray-500 text-md md:text-xl mb-2">21 Courses</p>

                    <div class="group-hover:bg-white group-hover:text-black transition duration-200 flex justify-center text-white bg-orange-700 ">
                        <div class="flex items-center gap-5 px-6 py-4 font-semibold text-info text-lg rounded-xl transition ease-linear duration-500">
                            Learn more
                            <i data-feather="chevron-right"></i>
                    </div>
                    </div>
                </a>
                <a href="#" class="group text-center border bg-white rounded-md hover:text-white hover:bg-orange-700 transition duration-500">
                    <div class="group-hover:text-white text-black items-center p-5">
                        <h4 class="font-semibold text-xl md:text-1xl mb-6">Corrosion Engineering Courses</h4>
                    </div>
                    <p class="group-hover:text-gray-200 font-light text-gray-500 text-md md:text-xl mb-2">21 Courses</p>

                    <div class="group-hover:bg-white group-hover:text-black transition duration-200 flex justify-center text-white bg-orange-700 ">
                        <div class="flex items-center gap-5 px-6 py-4 font-semibold text-info text-lg rounded-xl transition ease-linear duration-500">
                            Learn more
                            <i data-feather="chevron-right"></i>
                    </div>
                    </div>
                </a>

                <a href="#" class="group text-center border bg-white rounded-md hover:text-white hover:bg-orange-700 transition duration-500">
                    <div class="group-hover:text-white text-black items-center p-5">
                        <h4 class="font-semibold text-xl md:text-1xl mb-6">Corrosion Engineering Courses</h4>
                    </div>
                    <p class="group-hover:text-gray-200 font-light text-gray-500 text-md md:text-xl mb-2">21 Courses</p>

                    <div class="group-hover:bg-white group-hover:text-black transition duration-200 flex justify-center text-white bg-orange-700 ">
                        <div class="flex items-center gap-5 px-6 py-4 font-semibold text-info text-lg rounded-xl transition ease-linear duration-500">
                            Learn more
                            <i data-feather="chevron-right"></i>
                    </div>
                    </div>
                </a>
                <a href="#" class="group text-center border bg-white rounded-md hover:text-white hover:bg-orange-700 transition duration-500">
                    <div class="group-hover:text-white text-black items-center p-5">
                        <h4 class="font-semibold text-xl md:text-1xl mb-6">Corrosion Engineering Courses</h4>
                    </div>
                    <p class="group-hover:text-gray-200 font-light text-gray-500 text-md md:text-xl mb-2">21 Courses</p>

                    <div class="group-hover:bg-white group-hover:text-black transition duration-200 flex justify-center text-white bg-orange-700 ">
                        <div class="flex items-center gap-5 px-6 py-4 font-semibold text-info text-lg rounded-xl transition ease-linear duration-500">
                            Learn more
                            <i data-feather="chevron-right"></i>
                    </div>
                    </div>
                </a>
            </div>

        </div> <!-- container.// -->

    </section>
    <!-- feature section //end -->

    <!-- clients -->
    <section class="mt-11">
        <h1 class="text-center text-xl font-semibold">Our Client</h1>
        <div class="grid grid-cols-4 px-24">
            <img class="w-48" src="{% static 'images/Clients/pdvsa_logo (1).webp' %}" alt="">
            <img class="w-48" src="{% static 'images/Clients/l-oceaneering.webp' %}" alt="">
            <img class="w-48" src="{% static 'images/Clients/l-pemex.webp' %}" alt="">
            <img class="w-48" src="{% static 'images/Clients/pdvsa_logo.webp' %}" alt="">
        </div>
    </section>

    <!-- testemonials -->
    <div class="bg-gray-100 p-7 md:p-24">
        <h1 class="text-3xl font-bold justify-center text-center">Why our clients choose us?</h1><br/>
        <section class="grid md:grid-cols-3 gap-10">
            <div class="bg-white hover:bg-orange-700 hover:text-white col-span-1 p-10 text-center transition ease-in-out duration-500">
                <p>Good course. I learnt about ICDs & ICVs system with new and old fashion multiphase sensors. Also,
                    case studies of intelligent, Reservoir Monitoring, subsea system etc my opinion in all is very good.
                </p>
                <br/>
                <h1 class="text-xl font-semibold">Arman Akbari</h1>
            </div>

            <div class="bg-white hover:bg-orange-700 hover:text-white col-span-1 p-10 text-center transition ease-in-out duration-500">
                <p>Good course. I learnt about ICDs & ICVs system with new and old fashion multiphase sensors. Also,
                    case studies of intelligent, Reservoir Monitoring, subsea system etc my opinion in all is very good.
                </p>
                <br/>
                <h1 class="text-xl font-semibold">Arman Akbari</h1>
            </div>
            <div class="bg-white hover:bg-orange-700 hover:text-white col-span-1 p-10 text-center transition ease-in-out duration-500">
                <p>Good course. I learnt about ICDs & ICVs system with new and old fashion multiphase sensors. Also,
                    case studies of intelligent, Reservoir Monitoring, subsea system etc my opinion in all is very good.
                </p>
                <br/>
                <h1 class="text-xl font-semibold">Arman Akbari</h1>
            </div>
        </section>

    </div>



    <!-- Course Categories -->

    <footer class="bg-white py-16">

        <div class="container max-w-screen-xl mx-auto px-4">
            <div class="flex flex-col lg:flex-row lg:justify-between">

                <div class="space-y-7 mb-10 lg:mb-0">
                    <div class="flex justify-center lg:justify-start">
                        <img src="assets/image/footer-logo.png" alt="Image">
                    </div>

                    <p class="font-light text-gray-400 text-md md:text-lg text-center lg:text-left">Donate and help
                        others people <br> around the world</p>

                    <div class="flex items-center justify-center lg:justify-start space-x-5">
                        <a href="#"
                            class="px-3 py-3 bg-gray-200 text-gray-700 rounded-full hover:bg-info hover:text-white transition ease-in-out duration-500">
                            <i data-feather="facebook"></i>
                        </a>

                        <a href="#"
                            class="px-3 py-3 bg-gray-200 text-gray-700 rounded-full hover:bg-info hover:text-white transition ease-in-out duration-500">
                            <i data-feather="twitter"></i>
                        </a>

                        <a href="#"
                            class="px-3 py-3 bg-gray-200 text-gray-700 rounded-full hover:bg-info hover:text-white transition ease-in-out duration-500">
                            <i data-feather="linkedin"></i>
                        </a>
                    </div>
                </div>

                <div class="text-center lg:text-left space-y-7 mb-10 lg:mb-0">
                    <h4 class="font-semibold text-gray-900 text-lg md:text-2xl">Quick links</h4>

                    <a href="#"
                        class="block font-light text-gray-400 text-sm md:text-lg hover:text-gray-800 transition ease-in-out duration-300">Charity
                        Ratings</a>

                    <a href="#"
                        class="block font-light text-gray-400 text-sm md:text-lg hover:text-gray-800 transition ease-in-out duration-300">Top-Rated
                        Charities</a>

                    <a href="#"
                        class="block font-light text-gray-400 text-sm md:text-lg hover:text-gray-800 transition ease-in-out duration-300">Top
                        Compensation</a>

                    <a href="#"
                        class="block font-light text-gray-400 text-sm md:text-lg hover:text-gray-800 transition ease-in-out duration-300">High
                        Asset Charities</a>
                </div>

                <div class="text-center lg:text-left space-y-7 mb-10 lg:mb-0">
                    <h4 class="font-semibold text-gray-900 text-lg md:text-2xl">Company</h4>

                    <a href="#"
                        class="block font-light text-gray-400 text-sm md:text-lg hover:text-gray-800 transition ease-in-out duration-300">About
                        Us</a>

                    <a href="#"
                        class="block font-light text-gray-400 text-sm md:text-lg hover:text-gray-800 transition ease-in-out duration-300">Journalists
                        / Media</a>

                    <a href="#"
                        class="block font-light text-gray-400 text-sm md:text-lg hover:text-gray-800 transition ease-in-out duration-300">Membership</a>

                    <a href="#"
                        class="block font-light text-gray-400 text-sm md:text-lg hover:text-gray-800 transition ease-in-out duration-300">Blog</a>
                </div>

                <div class="text-center lg:text-left space-y-7 mb-10 lg:mb-0">
                    <h4 class="font-semibold text-gray-900 text-lg md:text-2xl">Legal</h4>

                    <a href="#"
                        class="block font-light text-gray-400 text-sm md:text-lg hover:text-gray-800 transition ease-in-out duration-300">FAQ</a>

                    <a href="#"
                        class="block font-light text-gray-400 text-sm md:text-lg hover:text-gray-800 transition ease-in-out duration-300">Terms
                        & Conditions</a>
                </div>

            </div>
        </div> <!-- container.// -->

    </footer>

    <script>
        feather.replace()
    </script>

</body>

</html>